#info{
    background: #333;
    color: aliceblue;
    text-align: center;
    padding: 20px;
}

#info .contenedor{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


.info-per {
    margin: 10px;
    
}

.info-per img{
    width: 180px;
    height: 180px;
    border-radius: 50%;
    border: 7px solid #fff;
}